certifi==2023.5.7; python_version >= "3.8"
charset-normalizer==2.0.12; python_version >= "3.8"
click==8.1.7; python_version >= "3.8"
colorama==0.4.6; platform_system == "Windows" and python_version >= "3.8"
idna==3.4; python_version >= "3.8"
requests==2.31.0; python_version >= "3.8"
urllib3==1.26.16; python_version >= "3.8"
